/* Styling for alert pop up */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Scroll feature if needed */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.js-modal-trigger {
  padding: 10px 20px;
  margin-right: 20px;
  font-size: 16px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

#content {
    display: none; }

.navbar {
    background-color: #8a5b5a;
    height: 125px;
    
}

#logo {
  margin-right: 10px;
  margin-top: 5px;
  padding-right: 10px;
  display: inline-block;
}

.main-title {
    font-size:3em;
    color:antiquewhite;
    align-items: center;
    font-family: 'Quicksand', sans-serif;

}

 .navbar-item {
    color:antiquewhite;
    font-size : 1.75em;

 }


.button.is-info {
    background-color: antiquewhite;
    color:#6B201D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    background-color:#8a5b5a;
    border-color: #8a5b5a;
    color: antiquewhite;
    position:relative;
    text-decoration: none;
    padding-left: 3em;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

 .menu-title {
  display:flex;
  justify-content: space-between;
  margin-left: 110px;
  padding: 20px;
  margin-top:55px;
}

 span {
  font-size:30px;
  
 }
.dropdown-saved {
  margin-right: 10px;
}

.dropdown-menu {
    display: none;
    position: sticky;
    z-index: 1;
    font-size: 30px;
    
  }
  
  .dropdown-saved:hover .dropdown-menu {
    display: block;
    
  }

.dropdown-content {
    background-color: #7d2421;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    
  }
  
.dropdown-content a:hover {
    background-color: #36666A;
    color:#faebd7;
  }

.dropdown-content a {
    color:antiquewhite;
   
  }
  
  .dropdown-item {
    display:flex;
  }
.section-results {

  background-color: #6B201D;

}

.results-list {
  display:flex;
  padding: 10px 10px;
 
}

.drink-item {
  display:flex;
  flex-direction:column;
  padding: 15px;
  border: 5px solid #36666A;
  margin: 10px;
  background-color: antiquewhite;
  border-radius: 5px;
  height:300px;
}
.drink-item h3 {
  font-size: 30px;
  position:absolute;
  margin-left: 210px;
}

 .drink-item img {
  width:200px;
  height:200px;
 }

.meal-item {
  display:flex;
  flex-direction:column;
  height:500px;
  padding: 15px;
  border: 2px solid #36666A;
  margin: 10px;
  background-color: antiquewhite;
  
}

.meal-item h3 {
  font-size: 30px;
  position:absolute;
  margin-left:215px;
}

.meal-item img {
  width:200px;
  height:200px;
}

.meal-details {
  display: flex;
  flex-direction:row;
  margin-left:204px;
  margin-top:-199px;

}

.meal-details h4 {
  flex-direction: column;
  position:relative;
  max-height:min-content;
}

.meal-details ul {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top:25px;
  
}

.meal-details li {
  text-decoration: none;
  margin-left:-78px;
  font-size:12px
}

.meal-details h5 {
  display:flex;
  position:relative;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-left:50px;
}

.meal-details p {
  width: 1025px;
  display:flex;
  margin-top:25px;
  margin-left:-102px;
  font-size:12px;
}

.ingredients-button {
  text-decoration: none;
  border: 2px solid #36666A;
  background-color: #6B201D;
  color:antiquewhite;
  width:150px;
  margin-left:25px;
  display:flex;
  margin-top:5px;
}

.button-area {
  display: flex;
  justify-content: center;
}

  .first-page-buttons {
    display: flex; 
    background-color: #6B201D;
    justify-content: center;
    padding: 30px 30px;
    border-radius: 20px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
  }

   /* Styling for main section */
   #main-section {
    background-color: #6B201D;
    display: flex;
    flex-wrap: wrap;
    /* margin: 20px;
    padding: 20px; */
  }

 .title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  background-color: #6B201D;
  color:antiquewhite;
  margin: 0px;
  margin: 10px auto;
  }

  .title-2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    background-color: #6B201D;
    color:antiquewhite;
    margin: 0px;
    margin: 10px auto;
    margin-bottom: 0px;
  }

  #first-three-img, #second-three-img, #third-three-img, #fourth-three-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1000px;
    flex-wrap: wrap; 
  }
  
  .image-container {
    width: 30%; 
    margin: 10px; 
    position: relative;
  }
  
  .image-container img {
    width: 100%; 
    height: auto; 
  }

  .image-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
    border: 1px solid #000;
  }
  
  .image-container:hover .image-text {
    display: block;
  }

  @media screen and (max-width: 600px) { 
    .image-container {
      width: 45%;
    }
  }

  
 /* Footer Content */
 .fun-facts-section {
  background-color: #7d2421;
 }


 .fun-facts {
  background-color: white;
 }

 #boxes {
  font-family: 'Quicksand', sans-serif;;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}

#leftbox, #rightbox {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

#leftbox::before, #leftbox::after, #rightbox::before, #rightbox::after {
  content: "";
  position: absolute;
  background-size: contain;
}

#leftbox::before {
  width: 60px;
  height: 60px;
  top: 20px;
  left: -60px;
  transform: rotate(-25deg);
}

#leftbox::after {
  width: 70px;
  height: 70px;
  bottom: 20px;
  left: -70px;
  transform: rotate(30deg);
}

#rightbox::before {
  width: 70px;
  height: 70px;
  top: 20px;
  right: -70px;
  transform: rotate(25deg);
}

#rightbox::after {
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: -60px;
  transform: rotate(-30deg);
}

#leftbox, #middlebox, #rightbox {
  z-index: 1;
  background-color: transparent;
  color: black;
  padding: 28px;
  border-radius: 10px;
  width: 33.33%;
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  background-color: #7d2421;
  border: 3px solid  black;
  color: white;
}

#middlebox {
  margin: 0 20px;
}


  /*.show {
    display:block;
}
/* Drink Button */
/*drink-button 
    margin: 10px;
    background-color: aqua; 
/*Food Button*/



/* Navbar Adjustments
   Navbar color =  #6B201D; 
   Font Size = 1.75em;
   Height = 125px;